 @import url('https://fonts.googleapis.com/css?family-Allura|Josefin+Sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images/bg.jpg");
    background-size: cover ;
    background-position: center;
   /* background-image:linear-gradient(url("images/job-logo.jpgs"));
    background-image: url("images/job-logo.jpgs");
   /* background-color:wheat;*/
    font-family: 'Josefin Sans',sans-serif;
}
.wrapper{
    margin-top: 10%;
}
.wrapper h1
{
    font-family:fantasy;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: mediumpurple;
}
.team
{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.team .team_member{
    background: white;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color:#8e8b8b;
    position: relative;
}
.team .team_member h3
{
    color: #81c644;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p.role{
    color:rgb(228, 146, 146);
   /* color: #ccc;*/
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}

.team .team_member .team_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
   /* background: #fff;*/
}
.team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 10px;
}
